<h2 class="page-hd">About us</h2>
<section class="about-info">
    <section class="about-display">
        <img src="../images/fotoTomas.jpeg" class="image-about">
    </section>
    <section class="about-display">
        <p>Hi! We are Francisco Crespo and Tomás Maria and this is our project!</p>
        <p>We had this idea because we both love to travel, get to know different countries and cultures and like to keep track of our adventures.</p>
        <p>Francisco has been to 15 countries and Tomás has been to 19 countries.</p>
        <p>We welcome every fellow travel enthusiast to join us on this journey.</p>
        <p>Feel free to to create an account and keep track of your adventures as well!</p>
    </section>
    <section class="about-display">
        <img src="../images/fotoTomas.jpeg" class="image-about">
    </section>
</section>