<div class="video-wrapper">
      <video autoplay muted loop class="bg-video">
        <source src="/images/globeweb.webm" type="video/webm"></src>
      </video>
</div>
<div class="welcome">
    <span>Welcome to TraveLink!</span>
    <div class="enter-options">
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
    </div>
</div>