*{
    margin: 0px;
    padding: 0px;
}

body{
    z-index: 1;
}

.bg-video{
    width:100%;
    z-index: -1;
}

.navbar {
    background-color: rgb(255, 245, 201);
}

.nav-logo{
    width: 7vw;
    margin: 5px 40% 5px 5%;
}

.form-control{
    width:15vw;
}

.btn-outline-success{
    margin-right: 5vw;
}

.nav-au{
    margin-right: 5vw;
}