<h2 class="page-hd">Edit {{country.name}}</h2>

<form action="/edit-visited/{{id}}" method="post">

    <div>
        <label for="rating">Rating:</label>
        <input type="number" name="rating" id="rating" min="1" max="10">
    </div>

    <div>
        <label for="cities">Visited Cities:</label>
        <input type="text" name="cities" id="cities">
    </div>

    <div>
        <label for="experiences">Experiences:</label>
        <input type="textarea" name="experiences" id="experiences">
    </div>

    
        <button type="submit">Submit</button>
    
</form>